body{
    display:flex;
    justify-content: center;
}

#outerbox{
    display:flex;
    flex-wrap: wrap;
    margin:auto;
    background-color:grey;
    width:200px;
    height:300px;
    border:2px;
    margin-top:200px;

    
}



h1{
    font-size:50px;
}

button{
    border-radius:5px;
    padding:10px 20px;
    margin: 4px 2px;
}

.display {
    background-color: burlywood;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.5em;
}
