#outerbox{
    display:flex;
    flex-wrap: wrap;
    margin:auto;
    background-color:grey;
    width:250px;
    height:400px;
    border:2px;

    
}

#yolo{
    font-size:20px;
}

h1{
    font-size:50px;
}

.button{
    height: 40px;
    width:20px;
}